$color: #7B8184
$dark-color: #23272A
$light-color: #FFFFFF
$ref-color: #BD2500

$default-text-shadow-color: #414141
$default-text-shadow-h-offset: 0
$default-text-shadow-v-offset: 1px
$default-text-shadow-blur: 0

.start-info
  margin-top: 1em
  font-family: 'Francois One', sans-serif
  font-size: 1em
  display: block

  li
    display: block
    float: left
    margin-bottom: 1em
    list-style-type: none
    line-height: 1.6em

  .step
    width: 230px

  .first
    width: 220px

  .second
    width: 230px

  .third
    width: 150px

  .num
    font-size: 1.3em
    margin-top: -3px
    margin-left: 35px
    width: 27px
    color: $ref-color

.dialogue
  border-top: 1px dashed #BBB
  padding: 1.5em 0 0 35px

.dialogue .url-container *
  font-size: 20px

.dialogue .url-field
  padding: 5px 3px
  width: 670px
  border: 1px solid #D9D9D9
  border-top-color: silver
  color: $dark-color

.dialogue .button
  padding: 5px 10px
  background-color: #666
  +linear-gradient(color-stops(#666, #444))
  border: 1px solid #000
  +border-radius(3px)
  color: white
  +single-text-shadow
  text-decoration: none

.dialogue .lock-botton
  color: #888

.dialogue #error
  margin-bottom: 0.5em
  height: 1em

.dialogue .example
  margin-top: 3px
  color: #999

.dialogue .example a
  color: #666
  border-color: #888

.dialogue .report
  margin: 1em 0 0 0
  font-size: 1.4em

  p
    background:
      image: image-url("action-waiting.png")
      repeat: no-repeat
      position: 0 15px
    padding: 10px 0 0 22px
    color: #bbb

  .done
    background:
      image: image-url("action-done.png")
    color: $dark-color

  .working
    background:
      image: image-url("ajax-loader.gif")
    color: $dark-color

  .error
    background:
      image: image-url("action-error.png")
    color: $dark-color

  .msg
    font-weight: bold
    font-size: 0.9em

.not-valid #id_url
  border-color: $ref-color

.not-valid #error
  color: $ref-color

.result
  margin: 2.5em 0 0 0
  display: none
  font-size: 1.2em
  font-family: 'Francois One', sans-serif
  text-align: center
  line-height: 1.6em

.view
  display: block
