/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../.virtualenvs/djangolint/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../.virtualenvs/djangolint/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../.virtualenvs/djangolint/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../.virtualenvs/djangolint/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../.virtualenvs/djangolint/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../.virtualenvs/djangolint/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../.virtualenvs/djangolint/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../.virtualenvs/djangolint/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../.virtualenvs/djangolint/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 14, ../../sass/partials/_base.sass */
html, body, .container {
  height: 100%;
}

/* line 17, ../../sass/partials/_base.sass */
body {
  font-family: Verdana, Arial, sans-serif;
  font-size: 18px;
  background-image: url('/static/images/bg.jpg?1312133426');
  background-repeat: repeat;
  background-position: 0% 0%;
  background-color: white;
}
/* line 26, ../../sass/partials/_base.sass */
body .container {
  height: auto;
  min-height: 100%;
}

/* line 30, ../../sass/partials/_base.sass */
.footer-bg {
  clear: both;
  position: relative;
  z-index: 10;
  margin-top: -68px;
}

/* line 36, ../../sass/partials/_base.sass */
.help-container {
  padding-bottom: 68px;
}

/* line 39, ../../sass/partials/_base.sass */
h1 {
  margin-top: 3em;
  margin-bottom: 0.2em;
  font-family: "Francois One", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.3em;
  color: #23272a;
  text-transform: uppercase;
  text-shadow: #414141 0 1px 0;
}

/* line 50, ../../sass/partials/_base.sass */
h2 {
  margin-bottom: 0.3em;
  margin-top: 2em;
  font-family: "Francois One", sans-serif;
  color: #23272a;
  text-transform: uppercase;
  font-size: 1em;
  line-height: 1.3em;
  text-shadow: #414141 0 1px 0;
}

/* line 60, ../../sass/partials/_base.sass */
h3 {
  color: #23272a;
  padding: 7px 0;
  margin-bottom: 3px;
  margin-top: 1.5em;
  border-bottom: 1px dashed #7b8184;
}

/* line 67, ../../sass/partials/_base.sass */
a {
  color: #bd2500;
  text-decoration: none;
  border-bottom: 1px dashed #bd2500;
}
/* line 72, ../../sass/partials/_base.sass */
a:hover {
  color: #23272a;
  border-color: #23272a;
}

/* line 76, ../../sass/partials/_base.sass */
p {
  color: #7b8184;
  line-height: 1.4em;
  margin-bottom: 1em;
  font-size: 0.7em;
}

/* line 82, ../../sass/partials/_base.sass */
strong {
  font-weight: bold;
}

/* line 85, ../../sass/partials/_base.sass */
code {
  font-family: Menlo, Monaco, monospace;
  width: 600px;
}

/* line 89, ../../sass/partials/_base.sass */
pre {
  display: inline;
  width: 600px;
}

/* line 93, ../../sass/partials/_base.sass */
ol {
  list-style-type: decimal;
  line-height: 1.6em;
}
/* line 97, ../../sass/partials/_base.sass */
ol li {
  list-style-position: inside;
}

/* line 100, ../../sass/partials/_base.sass */
hr {
  margin-bottom: 3em;
}

/* line 103, ../../sass/partials/_base.sass */
.subtitle {
  color: #62676a;
  font-size: 0.8em;
  font-style: italic;
  margin-bottom: 2em;
  line-height: 1.1em;
}

/* line 110, ../../sass/partials/_base.sass */
.content-bg {
  padding: 10px 0 60px;
}
/* line 113, ../../sass/partials/_base.sass */
.content-bg .content {
  width: 805px;
  margin: 0 auto;
}
/* line 117, ../../sass/partials/_base.sass */
.content-bg .content .title {
  font-size: 1.5em;
  text-align: center;
}
/* line 121, ../../sass/partials/_base.sass */
.content-bg .content .title h1 {
  margin-bottom: 0.3em;
  margin-top: 0;
  color: #3f464b;
  font-size: 70px;
  font-weight: bold;
  text-shadow: #414141 0 1px 0;
}

/* line 129, ../../sass/partials/_base.sass */
.not-found {
  text-align: center;
  font-size: 1.3em;
}
/* line 133, ../../sass/partials/_base.sass */
.not-found p {
  margin-top: 1em;
  font-family: "Francois One", sans-serif;
}

/* line 11, ../../sass/partials/_form.sass */
.start-info {
  margin-top: 1em;
  font-family: "Francois One", sans-serif;
  font-size: 1em;
  display: block;
}
/* line 17, ../../sass/partials/_form.sass */
.start-info li {
  display: block;
  float: left;
  margin-bottom: 1em;
  list-style-type: none;
  line-height: 1.6em;
}
/* line 24, ../../sass/partials/_form.sass */
.start-info .step {
  width: 230px;
}
/* line 27, ../../sass/partials/_form.sass */
.start-info .first {
  width: 220px;
}
/* line 30, ../../sass/partials/_form.sass */
.start-info .second {
  width: 230px;
}
/* line 33, ../../sass/partials/_form.sass */
.start-info .third {
  width: 150px;
}
/* line 36, ../../sass/partials/_form.sass */
.start-info .num {
  font-size: 1.3em;
  margin-top: -3px;
  margin-left: 35px;
  width: 27px;
  color: #bd2500;
}

/* line 43, ../../sass/partials/_form.sass */
.dialogue {
  border-top: 1px dashed #bbbbbb;
  padding: 2em 0 0 35px;
}

/* line 47, ../../sass/partials/_form.sass */
.dialogue .url-container * {
  font-size: 20px;
}

/* line 50, ../../sass/partials/_form.sass */
.dialogue .url-field {
  padding: 5px 3px;
  width: 670px;
  border: 1px solid #d9d9d9;
  border-top-color: silver;
  color: #23272a;
}

/* line 57, ../../sass/partials/_form.sass */
.dialogue .button {
  padding: 5px 10px;
  background-color: #666666;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #666666), color-stop(100%, #444444));
  background-image: -webkit-linear-gradient(top, #666666, #444444);
  background-image: -moz-linear-gradient(top, #666666, #444444);
  background-image: -o-linear-gradient(top, #666666, #444444);
  background-image: -ms-linear-gradient(top, #666666, #444444);
  background-image: linear-gradient(top, #666666, #444444);
  border: 1px solid black;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  color: white;
  text-shadow: #414141 0 1px 0;
  text-decoration: none;
}

/* line 67, ../../sass/partials/_form.sass */
.dialogue .lock-botton {
  color: #888888;
}

/* line 70, ../../sass/partials/_form.sass */
.dialogue .report {
  margin: 1em 0 0 0;
  font-size: 1.4em;
}
/* line 74, ../../sass/partials/_form.sass */
.dialogue .report p {
  background-image: url('/static/images/action-waiting.png?1312010126');
  background-repeat: no-repeat;
  background-position: 0 15px;
  padding: 10px 0 0 22px;
  color: #bbbbbb;
}
/* line 82, ../../sass/partials/_form.sass */
.dialogue .report .done {
  background-image: url('/static/images/action-done.png?1312004913');
  color: #23272a;
}
/* line 87, ../../sass/partials/_form.sass */
.dialogue .report .working {
  background-image: url('/static/images/ajax-loader.gif?1312096230');
  color: #23272a;
}
/* line 92, ../../sass/partials/_form.sass */
.dialogue .report .error {
  background-image: url('/static/images/action-error.png?1312013270');
  color: #23272a;
}

/* line 97, ../../sass/partials/_form.sass */
.not-valid #id_url {
  border-color: #bd2500;
}

/* line 100, ../../sass/partials/_form.sass */
.not-valid #info {
  color: #bd2500;
}

/* line 103, ../../sass/partials/_form.sass */
.result {
  margin: 2.5em 0 0 0;
  display: none;
  font-size: 1.2em;
  text-align: center;
  font-family: "Francois One", sans-serif;
}

/* line 110, ../../sass/partials/_form.sass */
.view {
  display: block;
}

/* line 13, ../../sass/partials/_results.sass */
.description {
  margin-left: 1em;
}
/* line 16, ../../sass/partials/_results.sass */
.description a {
  font-size: 0.9em;
}
/* line 19, ../../sass/partials/_results.sass */
.description p {
  margin-bottom: 5px;
  font-size: 0.7em;
  line-height: 1.5em;
  color: #23272a;
}
/* line 25, ../../sass/partials/_results.sass */
.description .fix-bg {
  font-size: 0.7em;
  color: #aaaaaa;
  padding: 10px;
  padding-left: 5em;
  margin: 10px 0;
  background: rgba(204, 71, 71, 0.1);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
  text-overflow: clip;
}
/* line 36, ../../sass/partials/_results.sass */
.description .fix {
  border-left: 1px solid white;
  padding-left: 5px;
}
/* line 40, ../../sass/partials/_results.sass */
.description .fix li {
  list-style-position: outside;
}
/* line 43, ../../sass/partials/_results.sass */
.description .fix li code {
  color: #aaaaaa;
}
/* line 46, ../../sass/partials/_results.sass */
.description .fix .significant {
  color: #bd2500;
}
/* line 49, ../../sass/partials/_results.sass */
.description .fix .significant code {
  color: #bd2500;
}
/* line 52, ../../sass/partials/_results.sass */
.description .yes {
  background: rgba(102, 152, 80, 0.1);
  border-color: #476a39;
}
/* line 56, ../../sass/partials/_results.sass */
.description .yes .significant {
  color: #476a39;
}
/* line 59, ../../sass/partials/_results.sass */
.description .yes .significant code {
  color: #476a39;
}

/* line 61, ../../sass/partials/_results.sass */
.first h3 {
  margin-top: 0;
}

/* line 64, ../../sass/partials/_results.sass */
.clip {
  color: black;
}

/* line 14, ../../sass/partials/_footer.sass */
.footer-bg {
  width: 100%;
  height: 68px;
  background-image: url('/static/images/bg-bottom.png?1311987942');
  background-repeat: repeat-x;
  background-position: 0% 0%;
  background-color: #23272a;
  -moz-box-shadow: 0px -4px 0px 0px rgba(35, 39, 42, 0.2);
  -webkit-box-shadow: 0px -4px 0px 0px rgba(35, 39, 42, 0.2);
  -o-box-shadow: 0px -4px 0px 0px rgba(35, 39, 42, 0.2);
  box-shadow: 0px -4px 0px 0px rgba(35, 39, 42, 0.2);
}
/* line 24, ../../sass/partials/_footer.sass */
.footer-bg .footer {
  width: 600px;
  margin: 0 auto;
  padding-top: 24px;
}
/* line 29, ../../sass/partials/_footer.sass */
.footer-bg .footer a:hover {
  color: white;
  border-color: white;
}

/* line 13, ../../sass/partials/_header.sass */
.header-bg {
  width: 100%;
  height: 105px;
  padding-top: 40px;
  background-image: url('/static/images/bg-top.png?1311987982');
  background-repeat: repeat-x;
  background-position: 5px 0;
  background-color: rgba(35, 39, 42, 0.2);
}
/* line 23, ../../sass/partials/_header.sass */
.header-bg .header {
  display: block;
  width: 695px;
  height: 67px;
  margin: 0 auto;
  padding-left: 60px;
  background-image: url('/static/images/icon.png?1311994493');
  background-repeat: no-repeat;
  background-position: 0 7px;
  border: 0;
}
/* line 35, ../../sass/partials/_header.sass */
.header-bg .header h1 {
  margin: 0;
  color: white;
  font-size: 2.1em;
  font-weight: normal;
}
/* line 41, ../../sass/partials/_header.sass */
.header-bg .header p {
  color: #bbbbbb;
  font-size: 0.8em;
  text-shadow: black 0 1px 0;
}
