{% extends "base.html" %}

{% block content %}
  <div class="dialogue">
    <form action="/" method="post" class="url-container">
      <input type="text" class="url-field" value="https://github.com/" />
      <input type="submit" value="Go" class="button" />
    </form>
    <div class="report">
      <p id="adding" class="done">Adding your project to the task queue</p>
      <p id="cloning" class="error">Cloning error</p>
      <p id="parsing" class="working">Parsing the source code...</p>
      <p id="analyzing">Analyzing your code</p>
    </div>
  </div>
  <div id="result" class="result">Done! You can see the results <a href="#">here</a>.</div>
{% endblock %}
