{% extends "base.html" %}{% load lint %}

{% block content %}
  {% csrf_token %}
  <ul id="start-info" class="start-info">
    <li class="num">1.</li>
    <li class="first step">Enter github repo url for your django project</li>
    <li class="num">2.</li> 
    <li class="second step">Press 'Go' and wait until the code analysis finished</li>
    <li class="num">3.</li> 
    <li class="third step">Check the results</li>
  </ul>
  <div style="clear: both;"></div>
  <div id="dialogue" class="dialogue">
    <p id="error" class="error"></p>
    {% report_create_form %}
    <p class="example">For example: <a id="example-url" href="#">https://github.com/yumike/djangolint</a></p>
    <div id="report" class="report">
      <p id="adding">Preparing to work with the project. <span id="adding-msg" class="msg"></span></p>
      <p id="cloning">Cloning the project. <span id="cloning-msg" class="msg"></span></p>
      <p id="parsing">Parsing the source code. <span id="parsing-msg" class="msg"></span></p>
      <p id="analyzing">Checking the project for deprecated and non-optimal code. <span id="analyzing-msg" class="msg"></span></p>
    </div>
  </div>
  <div id="result" class="result">
    <div>Done! You can see the results <a href="{{ report.get_absolute_url }}">here</a>.</div>
    <div>You'll have access to the results within 30 days.</div>
  </div>
{% endblock %}
